@import './../../themes';

@include nb-install-component() {
  nb-card {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // height: 100%;
      // height: 6rem;
    overflow: hidden;

    nb-card-body {
      position: relative;
      padding: 10px 0px 0px 0px;
      overflow: hidden;
    }

    nb-card-header {
      position: relative;
      padding-top: 5px;
      padding-bottom: 5px;
      overflow: hidden;
    }
  }
}

.pointer {cursor: pointer;}
