<nb-layout>
  <nb-layout-header fixed>
      <div class="container-fluid">
        <div class="row ">

          <div class="col-7 col-md-6 col-sm-5 col-xs-5 col-xxs-5">
            <div class="row">
              <div class="col-1 col-md-1 col-sm-1 col-xs-1">
                <a href="#"><img src="{{urlLogo}}" width="36" height="36" /></a>
              </div> 
              <div class="col-11 col-md-11 col-sm-11 col-xs-11">
                <h5><a href="#" style="text-decoration: none;">{{Title}}</a></h5>
              </div> 
            </div> 

          </div>
          <div class="col-4 col-md-5 col-sm-6 col-xs-6 col-xxs-6">
            <div style="float: right;padding-top: 10px;">
            <nb-select placeholder="Theme" size="tiny" (selectedChange)="this.changeTheme($event)">
              <nb-option value="default">Light</nb-option>
              <nb-option value="dark" selected>Dark</nb-option>
              <nb-option value="cosmic">Cosmic</nb-option>
              <nb-option value="corporate">Corporate</nb-option>
            </nb-select>
          &nbsp;&nbsp;&nbsp;
            <nb-select placeholder="Language" size="tiny" (selectedChange)="this.changeLang($event)">
              <nb-option value="id" selected>Bahasa</nb-option>
              <nb-option value="en">English</nb-option>
              <nb-option value="es">Español</nb-option>
              <nb-option value="fr">Français</nb-option>
              <nb-option value="zh">中文</nb-option>
            </nb-select>
          &nbsp;&nbsp;&nbsp;
            </div>
        </div>
      </div>
    </div>  
</nb-layout-header>

  <nb-layout-column *ngIf="SelectedData; else loading">
    <div class="row" *ngIf="LatestCase && Lang" >
      <div class="col-xxxl-4 col-md-3 col-sm-6">
        <app-info-panel 
          Accent="primary"
          [CaseTitle]="i18n.CONFIRMED[Lang] | uppercase"
          [DailyNum]="LatestCase.Confirmed"
          [TotalNum]="LatestCase.ConfirmedCum" 
          IconClassName="fas fa-temperature-high"
          [Lang]="Lang">
        </app-info-panel>
      </div>
      <div class="col-xxxl-4 col-md-3 col-sm-6">
        <app-info-panel 
          Accent="warning"
          [CaseTitle]="i18n.ACTIVE[Lang] | uppercase"
          [DailyNum]="LatestCase.Active"
          [TotalNum]="LatestCase.ActiveCum" 
          IconClassName="fas fa-diagnoses"
          [Lang]="Lang">
        </app-info-panel>
      </div>
      <div class="col-xxxl-4 col-md-3 col-sm-6">
        <app-info-panel 
          Accent="success"
          [CaseTitle]="i18n.RECOVERED[Lang] | uppercase"
          [DailyNum]="LatestCase.Cured"
          [TotalNum]="LatestCase.CuredCum"
          IconClassName="fas fa-temperature-low"
          [Lang]="Lang">
        </app-info-panel>
      </div>
      <div class="col-xxxl-4 col-md-3 col-sm-6">
        <app-info-panel 
          Accent="danger"
          [CaseTitle]="i18n.DEATHS[Lang] | uppercase"
          [DailyNum]="LatestCase.Dead"
          [TotalNum]="LatestCase.DeadCum" 
          IconClassName="fas fa-folder-minus"
          [Lang]="Lang">
        </app-info-panel>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
  
        <div *ngIf="Cases && MapTopo" style=" background-color: #bbb; color: darkslategray; border-radius: 10px;" >
          <app-map3
            Accent = "primary"
            [Lang] = "this.Lang" 
            style="border-radius: 12px; "
            [CurrentLoc]="CurrentLoc" [topo]="MapTopo" [caseData]="Cases" (selectedLocation)="onSelectLocation($event)" >
          </app-map3>
        </div>
      </div>

      <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
        <app-chart-case Accent="warning" [SelectedData]="this.SelectedData" [Lang]="this.Lang" ></app-chart-case>
      </div>
    </div>

    <div class="row">
      <div class="col-xxxl-9 col-xl-12">
        <app-chart-cum Accent="primary" [SelectedData]="this.SelectedData" [Lang]="this.Lang" ></app-chart-cum>
      </div>
    </div>

    <div class="row">
      <ng-container *ngIf="this.SelectedDataVax !== undefined">
        <div class="col-xxxl-3 col-md-6">
        <app-chart-vax Accent="success" [SelectedData]="this.SelectedDataVax" [Lang]="this.Lang" ></app-chart-vax>
      </div>
      <div class="col-xxxl-3 col-md-6">
        <app-chart-test Accent="success" [SelectedData]="this.SelectedDataVax" [Lang]="this.Lang" ></app-chart-test>
      </div>
    </ng-container>
  </div>


  </nb-layout-column>

  <nb-layout-footer >
    &copy; 2020 &nbsp;
    <a href="https://github.com/erlange" target="_blank" title="My Github" style="text-decoration: none;">
      Eri Airlangga
    </a>
    &nbsp;&nbsp;&nbsp;
    <a (click)="openDialog(true)" title="About">
      <i class="fas fa-question-circle" style="font-size:2rem"></i>
    </a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://github.com/erlange/INACOVID" target="_blank" title="Source Code">
      <i class="fab fa-github" style="font-size:2rem"></i>
    </a>
  </nb-layout-footer>
</nb-layout>

<ng-template #loading >
  <ng-template *ngIf="!isError;else error" >
    <app-loading ></app-loading>
  </ng-template>
</ng-template>
<ng-template #error >
  <div>
    An Error Occured.<br />Please reload the page
  </div>
</ng-template>
