@import './../themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';



@include nb-install-component() {

  // display: flex;
  // justify-content: space-between;
  // width: 100%;
  // max-width: 1080px;

  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }

  nb-card-header {
    border: none;
    padding-bottom: 0;
    display: flex;
    width: 1080px;
    max-width: 1080px;
  }

  nb-layout {
    width: 1080px;
    max-width: 1080px;
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }
  
  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }

}

