@import './../../themes';

@include nb-install-component() {
  nb-card {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // height: 100%;
      // height: 6rem;
    overflow: hidden;

    nb-card-body {
      position: relative;
      padding: 10px 0px 0px 0px;
      overflow: hidden;
    }

    nb-card-header {
      position: relative;
      padding-top: 5px;
      padding-bottom: 5px;
      overflow: hidden;
    }


    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      @include nb-ltr(padding, 0 0.5rem 0 0.75rem);
      @include nb-rtl(padding, 0 0.75rem 0 0.5rem);
      border-left: 1px solid transparent;
    }

    .title {
      margin: 0;
    }

    .status {
      text-transform: uppercase;
    }

    .leaflet-container {
      height: 100%;
      background-color: nb-theme(background-basic-color-2);
    }
  
    ::ng-deep .leaflet-top, ::ng-deep .leaflet-bottom {
      z-index: 997;
    }
  
    ::ng-deep .leaflet-bar {
      box-shadow: none;
    }
  
    ::ng-deep .leaflet-control-zoom {
      border: none;
  
      a {
        background-color: nb-theme(color-primary-default);
        color: nb-theme(text-alternate-color);
        border-bottom: none;
      }
  
      .leaflet-disabled {
        background-color: nb-theme(color-primary-disabled);
      }
  
      .leaflet-control-zoom-in {
        border-top-left-radius: nb-theme(button-rectangle-border-radius);
        border-top-right-radius: nb-theme(button-rectangle-border-radius);
      }
  
      .leaflet-control-zoom-out {
        margin-top: 1px;
        border-bottom-left-radius: nb-theme(button-rectangle-border-radius);
        border-bottom-right-radius: nb-theme(button-rectangle-border-radius);
      }
    }

    .detail {
      // background-color: #fff;
      float: 'left';
      overflow: 'hidden';
      z-index: '88888';
      // visibility: hidden;
      position: absolute;
      padding: 5px;
      z-index: 1000;
      font-size: smaller;
      // width: '380px';
      // height: '300px';
      // transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      // transform: translate(3%);
      border: solid 1px #ccc;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
      border-radius: '10px';
      min-width: 220px;
      background-color: '#303030';
      color:'#eee';
    }
    
    .back {
      border: none;
      background: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      border-radius: 10px 2px 2px 10px;
    
      cursor: pointer;
      font-size: 16px;
    
      /* z-index: 111; */
    }

    .pointer {cursor: pointer;}
        
  }
}

